@model Northwind.EntityModels.Category
@{
    ViewData["Title"] = "Category Detail - " + Model.CategoryId;
}
<h2>Category details</h2>
<hr/>
<div>
    <dl class="dl-horizontal">
        <dt>Category Id</dt>
        <dd>@Model.CategoryId</dd>

        <dt>Category Name</dt>
        <dd>@Model.CategoryName</dd>

        <dt>Category Description</dt>
        <dd>@Model.Description</dd>

        <dt>Category Products</dt>
        <dd>
            @foreach (var product in Model.Products)
            {
                <ul class="list-group cprod"> 
                    <li class ="list-group-item cprod-sup mt-2">@product.ProductName Produced by: @product.Supplier.CompanyName</li>
                </ul>
            }
        </dd>
    </dl>
</div>
